.hidden-on-desktop {
    display: none;
}

.nav-links {
    list-style-type: none;
    margin: 20px 0 20px 0;
    padding: 0;
    overflow: hidden;
}

.nav-links li {
    float: right;
}

li a {
    display: block;
    padding: 8px;
    margin: 0;
}


.header-img {
    vertical-align: middle;
}

.header-img img{
    height: 385px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#social-media-links img {
    height: 20px;
    width: 20px;
    margin: 15px 0;
}

/* grid stuff */

.container {
    overflow: auto;
    margin: 10px 0;
}

.row {
    overflow: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    box-sizing: border-box;
}

.column.half {
    width: 50%;

}

.column.icons {
    width: 2%;
}

.column.copyright {
    width: 94%;
}

.column.eighth {
    width: 12.5%;
}


/**/

@media only screen and (max-width : 320px) {
    .hidden-on-desktop {
        display: block;
        text-align: center;
        background-color: #CCFFFF;
        color: black;
    }

    .column.half {
        width: 100%;
    }

    .column.icons {
        width: 8%;
    }
    .column.copyright {
        width: 76%;
    }

    h1 {
        text-align: center;
    }

    .nav-links{
        display: block;
        vertical-align: middle;
    }

    .nav-links li {
        float: none;
    }

    li a {
        display: block;
        margin: 3px;
        text-align: center;
        background-color: #dddddd;
    }

    .header-img img{
        height: auto;
        width: 100%;
        margin: 0;
    }
}

