.hidden-on-desktop {
    display: none;
}

.nav-links {
    list-style-type: none;
    margin: 20px 0 20px 0;
    padding: 0;
    overflow: hidden;
}

.nav-links li {
    float: right;
}

li a {
    display: block;
    padding: 8px;
    margin: 0;
}

h1 {
    float: left;
    margin: 0;
}

.header-img {
    vertical-align: middle;
}

.header-img img{
    height: 385px;
    width: 890px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    float: left;
    width: 50%;
}

.sub-section {
    float: right;
    width: 45%;
    margin-bottom: 30px;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#social-media-links {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

#social-media-links img {
    height: 20px;
    width: 20px;
}

@media only screen and (max-width : 320px) {
    .hidden-on-desktop {
        display: block;
        text-align: center;
        background-color: #CCFFFF;
        color: black;
    }

    h1 {
        float: none;
        text-align: center;
    }

    .nav-links{
        display: block;
        vertical-align: middle;
    }

    .nav-links li {
        float: none;
    }

    li a {
        display: block;
        padding-left: 0px;
        width: 304px;
        margin: 3px;
        text-align: center;
        background-color: #dddddd;
    }

    .header-img img{
        height: auto;
        width: 320px;
        margin: 0;
    }

    .main {
        float: none;
    }

    .sub-section {
        float: none;
    }

    .main p {
        width: 300px;
    }

    .sub-section p {
        width: 300px;
    }

    footer {
        bottom: -150px;
    }
}

